In [1]:
# Dependencies and Setup
# SQL Alchemy
from sqlalchemy import create_engine #i want to create a connection to your database

# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session #a connection to the db

# Pandas
import pandas as pd

# Matplotlib
import matplotlib.pyplot as plt

# NumPy
import numpy as np

In [3]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/dvd')
conn = engine.connect()

In [ ]:
# Query All Records in the Salaries Table
salaries_data = pd.read_sql("SELECT * FROM salaries", conn)
salaries_data.head()

In [ ]:
# Query All Records in the Titles Table
titles_data = pd.read_sql("SELECT * FROM titles", conn)
titles_data.head()

In [ ]:
# Merge Columns / Combine Data
combined_data = pd.merge(salaries_data, titles_data, on="emp_no", how="inner")
combined_data.head()

In [ ]:
# Groupby Title
grouped_df = combined_data.groupby("title").mean()
grouped_df

In [ ]:
# Drop emp_no from grouped_df to Show Only title & salary
revised_grouped_df = grouped_df.drop(columns = "emp_no")
revised_grouped_df

In [ ]:
# Reset Index
revised_grouped_df = revised_grouped_df.reset_index()
revised_grouped_df

In [ ]:
# Set x_axis, y_axis & Tick Locations
x_axis = revised_grouped_df["title"]
ticks = np.arange(len(x_axis))
y_axis = revised_grouped_df["salary"]
 
# Create Bar Chart Based on Above Data
plt.bar(x_axis, y_axis, align="center", alpha=0.5, color=["k", "r", "g", "m", "b", "c", "y"])

# Create Ticks for Bar Chart's x_axis
plt.xticks(ticks, x_axis, rotation="vertical")

# Set Labels & Title
plt.ylabel("Salaries ($)")
plt.xlabel("Employee Titles")
plt.title("Average Employee Salary by Title")

# Save Figure
plt.savefig("./Images/average_salary_by_title.png")

# Show plot
plt.show()